body {
  margin:0;
  }

#big_container {
  width: 1200px;
  margin: 0 50px;
}
h1 {
  /* If you are going to use Lora as your font for the entire page, it would be easier / 
   * less code to set it in your body selector above.  The rest of the page elements will
   * inherit that font style
   */
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 400;
  color: #FFF;
  }

  .nickname {
  font-family: 'Lora', serif;
  font-size: 75px;
  font-weight: 400;
  color: #FFF;
  width: 600px;
  }

h2 {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #020D38;
  font-weight: 400;
  }

  .wiredLink {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #020D38;
  font-weight: 400;
  }

h3 , label {
  font-family: 'Lora', serif;
  font-weight:400;
  font-size: 30px;
  color: #020D38;
  line-height: 1.5;
  }

.reversed {
  color: white;
}

.feed_container {
  width: 900px;
  height: 500px;
  background-color: white;
  margin: auto;
}

#hello {

  padding: 50px;
  width: 1200px;
  height: 750px;
  background-image: url("");
  background-repeat: none;
  }

#mindful {
  padding: 75px;
  background-repeat: repeat;
  }

  .mindful_text {
    font-size: 30px;
    width: 75%;
    font-family: 'Lora', serif;
  }


.quote_text {
  font-family: 'Lora', serif;
  font-weight:400;
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  width: 75%;
  }


#intention {
  background-color: #yellow;
  padding: 75px;
  }

  #intention_form {
    padding: 75px;

  }

textarea {
  width:600px;
  height:300px;
  margin: auto;
}

#add {
  background-color: #2013AD;
  color: white;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.first_character { 
  float: left; 
  color: #312E47; 
  font-size: 95px; 
  line-height: 60px; 
  padding-right: 8px; 
}


.tag {
  font-size: 12px;
  color: white;
  background-color: black;
  text-align: center;
  width: 75px;
  padding: 10px;
}

.feedLink {
  font-size: 18px;
}

.organizedPic {
  height: 1000px;
}

.deed_text {
    font-size: 40px;
    font-family: 'Lora', serif;
    color: white;
}

p {
  font-size: 40px;
  font-family: 'Lora' , serif;
}

#deed {
  padding: 125px 75px;
  background-color: #F20A6B;
  }

  #rss {
    padding: 75px;
  }

.first_text {
    font-size: 40px;
    font-family: 'Lora', serif;
    width: 75%;
}

#first_things {
  padding: 125px 75px;
  background-color: yellow;
  }

#mid_photo {

  padding: 50px;
  height: 550px;
  background-image: url("veggies_2.jpg");
  background-repeat: none;
  background-size: 100%;
}

.fade {
  opacity: 1;
}

.fade2 {
  opacity: 0;
}

#quote {
  background-color: #FA7F05;
  padding: 100px 75px;
  }


#todo {
    font-size: 40px;
    font-family: 'Lora', serif;
    width: 75%;
    color: #F20A6B;
    padding: 0 75px 200px 75px;

}









