body {
  margin:0;
  font-family: 'Lora', serif;
  }

h1 {
  color: #FFF;
  }

.greeting {
  color: #FFF;
  padding: 8%;
  width: 60%;
  font-size: 5em;
  position:absolute;
  left:0;
  top:0;
  }

h2 {
  color: #020D38;
  font-size: 3em;
  }

.reversed {
  color: white;
  }

.background_image {
  width:100%;
  position:relative;
  }

#mindful {
  padding: 8%;
  }

.mindful_text {
  width: 75%;
  color: black;
  }

.quote_text {
  color: #fff;
  line-height: 1.5;
  width: 75%;
  }

.big_p {
  font-size: 2.5em;
  }

#intention_form {
  padding: 8%;
  }

textarea {
  width:65%;
  height:300px;
  margin: auto;
  }

#add {
  background-color: #2013AD;
  color: white;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;
  }

#add:hover {
  background-color: #08236E;
  }

a.feedLink {
  font-size: 1.5em;
  color: #020D38;
  }

a.feedLink:hover {
  color: #0D3CBD;
  text-decoration: none;
  }

a.feedLink:visited {
  color: #0D3CBD;
  text-decoration: none;
  }

p {
  font-size: 2em;
  }

#deed {
  padding: 8%;
  background-color: #F20A6B;
  }

#rss {
  padding: 8%;
  }

.fade2 {
  opacity: 0;
  }

#quote {
  background-color: #FA7F05;
  padding: 8%;
  }

#todo {
  font-size: 4em;
  width: 75%;
  color: #F20A6B;
  padding: 0 0 14% 8%;
  } 

hr {
  border-width: 1px;
  border-color: #757B7D;
  }

@media screen and (max-width:900px) and (min-width: 601px){

  textarea {
    width:100%;
    }

  .quote_text {
    width: 100%;
    }

  .mindful_text {
    width: 100%;
    }

  .greeting {
    width: 60%;
    position:absolute;
    left:0;
    top:0;
    font-size: 4em;
    }

  .background_image {
    width:100%;
    position:relative;
    }

    #todo {
    font-size: 3.5em;
    width: 100%;
    } 

  }

@media screen and (max-width: 600px){
  body {
    font-size: 1em;
    }

  h2 {
    font-size: 3.25em;
    line-height: 1.25;
    }

  textarea {
    width:100%;
    }

  #add {
    width: 100%;
    margin-top: 20px;
    font-size: 2em;
    border-radius: 8px;
    }

  .feedLink {
    font-size: 1.75em;
    }

  .quote_text {
    line-height: 1.5;
    width: 100%;
    }

  .mindful_text {
    width: 100%;
    }

  .greeting {
    width: 60%;
    position:absolute;
    left:0;
    top:0;
    font-size: 3.85em;
    }

  .background_image {
    width:100%;
    position:relative;
    }

  #todo {
    font-size: 3.5em;
    width: 100%;
    } 

  #hello {
    position:relative;
  }

  }

